#game {
    
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85vh;
    
}

.Square {
    width : 25vw;
    border : 4px solid black;
}
.player {
    text-align: center;
    font-family: cursive;
}
.SquareX{
    width : 25vw;
    border : 4px solid black;
    font-size: 5rem;
    color: blue;
    text-align: center;
    font-family: fantasy;
    
}

.SquareO{
    width : 25vw;
    border : 4px solid black;
    font-size: 5rem;
    color: red;
    text-align: center;
    font-family: fantasy;
}